@model StudentManagement1.StudentCourse
@{
    ViewBag.Title = "Courses";
}


<tr>
    
    
    <td>
       @Model.Course_Id
    </td>

    <td>
        @Model.Course.Course_Name
    </td>
    <td>
        @Model.Course.Credit_Hours
    </td>
    <td>
       @Model.Course.Degree.Degree_Name
    </td>

    <td>
        <input type="checkbox" name="courseIdsToRemove" id="courseIdsToRemove" value="@Model.Course_Id" />
    </td>

</tr>

