@model StudentManagement1.TeacherCourseStudent
@{
    ViewBag.Title = "Courses";
}


<tr>
    
    
    <td>
       @Model.Student_Id
    </td>

    <td>
        @Model.Student.Name
    </td>
    <td>
        @Model.Student.Sur_Name
    </td>
    <td>
       @Model.Student.Semester.Semester_Name
    </td>

    <td>
        <input type="checkbox" name="StudentsIdsToRemove" id="StudentsIdsToRemove" value="@Model.Student_Id" />
    </td>

</tr>

