@model StudentManagement1.Degree

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Degree</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Degree_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Degree_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Degree_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Degree_Name)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Degree_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
