@model StudentManagement1.Admin

@{
    ViewBag.Title = "ChangePassword";
 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true,"Changing password failed. Check your details");
          <div>
            <fieldset>
          <legend>Change Password</legend>
 
         
      <div>  @Html.LabelFor(d => d.Password) </div>
      <div>    
        @Html.PasswordFor(d => d.Password)
        @Html.ValidationMessageFor(d => d.Password)
      </div>

                <br />
                <br />

      <div>  @Html.Label("New Password") </div>
      <div>    
        @Html.Password("New_Password")
        @Html.ValidationMessage("New_Password")
      </div>

                <br />
                <br />
                
      <div> @Html.Label("Conform") </div>
      <div>    
          @Html.Password("Compare_Password")
          @Html.ValidationMessage("Compare_Password")
          </div>
                <br />
        <input type="submit" value="Change Password"  />
    
                </fieldset>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}