@model StudentManagement1.Admin

@{
    ViewBag.Title = "Registration";
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Registration</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true,"Create user failed. Check details");
        <div>
            <fieldset>
                <legend>Create new admin</legend>
        
      <div> @Html.LabelFor(d => d.User_Name) </div>
      <div>
        @Html.TextBoxFor(d => d.User_Name)
        @Html.ValidationMessageFor(d => d.User_Name)
      </div>
        
    
    
         
      <div>  @Html.LabelFor(d => d.Password) </div>
      <div>
        @Html.PasswordFor(d => d.Password)
        @Html.ValidationMessageFor(d => d.Password)
      </div>
       
    
    
        <input type="submit" value="Create Admin" />
    
                </fieldset>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}