@model IEnumerable<StudentManagement1.Course>
@{
    ViewBag.Title = "AddCourses";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Select Courses</h2>

@using (@Html.BeginForm("AddCourses", "Teacher", FormMethod.Get))
    {
     @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,""+ @ViewData["error"]+"");
        <table >
    <tr>
        <th>
           <span>Search By:</span>
        </th>
        <th> @Html.RadioButton("searchBy", "Name", true) Course Name</th>
        <th> @Html.RadioButton("searchBy", "Course_Id") Course Id</th>
        <th> @Html.RadioButton("searchBy", "Dept_Name") Department Name</th>
       </tr>
        </table> <br />

         @Html.TextBox("search") <input type="submit" value="search" />
       
    }


@using (Html.BeginForm("AddCourses", "Teacher", FormMethod.Post))
{
    
    @Html.Hidden("teacherid",ViewData["teacherid"])
<table cellspacing = "15">
    <tr>
        <th>
           Course Id
        </th>
        <th>
            Course Name
        </th>
        <th>
           Credit Hours
        </th>
        <th>
           Degree Name
        </th>
        <th>
           Semester
        </th>
        <th>
            Select
        </th>
    </tr>

    @if (Model.Count() == 0)
{
    <tr>
        <td colspan="4">
            No records match search criteria
        </td>
    </tr>
}
else
{
   
 <tbody>
        @Html.EditorForModel()
</tbody>
}

</table>
         <br />
    <input type="submit" value="Add selected Courses" />
}