@model IEnumerable<StudentManagement1.Teacher>

@{
    //var CreditHours = (List<TeacherCreditHours>)ViewBag.TeacherCreditHours;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2> Search </h2>

    @using (@Html.BeginForm("Index", "Teacher", FormMethod.Get))
    {
        <table >
    <tr>
        <th>
           <span>Search By:</span>
        </th>
        <th> @Html.RadioButton("searchBy", "Name", true)Name</th>
        <th> @Html.RadioButton("searchBy", "Teacher_Id")Teacher Id</th>
        <th> @Html.RadioButton("searchBy", "Dept_Name")Department Name</th>
       </tr>

        </table> <br />

         @Html.TextBox("search") <input type="submit" value="search" />
       
    }

<table cellspacing = "11"  >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teacher_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sur_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Dept_Name)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>Action</th>
    </tr>
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="4">
            No records match search criteria
        </td>
    </tr>
}
else
{

foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Sur_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Dept_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        @*<td>
             @foreach (var credits in ViewData["TeacheerCrediHours"]
                as List<StudentManagement1.TeacherCreditHours>)
            { 

               @credits.CreditHours
            }
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Teacher_Id }) |
            @Html.ActionLink("Courses", "AllocatedCourses", new { id=item.Teacher_Id  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Teacher_Id  })
        </td>
    </tr>
}
}

</table>
