@model IEnumerable<StudentManagement1.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    <link href="~/Content/themes/templatemo_style.css" rel="stylesheet" type="text/css" media="screen" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table cellspacing ="15">
    <tr>
        <th>
           @* @Html.DisplayNameFor(model => model.Dept_Id)*@
             <label for="Dept_Id" class ="label-top label">Department Id</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dept_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dept_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dept_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Dept_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Dept_Id })
        </td>
    </tr>
}

</table>
