
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
     <title>@ViewBag.Title - Mobile Attendance System</title>
     <meta name="keywords" content="" />
     <meta name="description" content="" />
  <link href="~/Content/themes/templatemo_style.css" rel="stylesheet" type="text/css" media="screen" />
<script  lang="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>

<div id="templatemo_header">
            
    <div id="site_title">
        
        <a href="http://www.templatemo.com" target="_parent">Mobile Attendance System </a>
        
    </div> <!-- end of site_title -->
    
   <div id="header_right">
        	
        <div id="newsletter_box">
       	  <form action="#" method="get">
              <input type="text" id="user" name="user" class="newsletter_email" value="Enter your user name"  onfocus="clearText(this)" onblur="clearText(this)" />
            <input style="font-weight: bold;" type="submit" name="submit" id="submit" value="" />
            </form>
        </div>
    
   </div>
    
    <div class="cleaner"></div>
    
</div> <!-- end of header -->

<div id="templatemo_menu_wrapper">
	
    <div id="templatemo_menu">
        <ul>
            <li><a href="#" class="current"><span></span>Home</a></li>
            <li><a href="#"><span></span>Web 2.0</a></li>
            <li><a href="http://www.templatemo.com" target="_parent"><span></span>CSS Templates</a></li>
            <li><a href="#"><span></span>Graphics</a></li>
            <li><a href="http://www.koflash.com" target="_parent"><span></span>Inspirations</a></li>
            <li><a href="http://www.flashmo.com" target="_parent"><span></span>Flash Files</a></li>
        </ul>    	
	</div>
</div> <!-- end of templatemo_menu -->


<div id="templatemo_main"> <span class="tm_bottom"></span>
	
<div id="templatemo_content">
    
    	<div class="entry">
                 @RenderSection("featured", required: false)
                 @RenderBody()

            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

	     	</div>
  	    
        <div class="post_box pb_last">
            <div class="header">
                <h2><a href="#">Cum sociis natoque penatibus et magnis</a></h2>
              <div class="tag"><strong>Tags:</strong> <a href="#">Photography</a>, <a href="#">Free Photos</a>, <a href="#">HDR</a></div>
                <span class="posted_date">
                    @DateTime.Today.Month/@DateTime.Now.Day                    
                    <strong> @DateTime.Now.Year</strong>
                </span>
            </div>
            <img src="/Images/templatemo_image_01.jpg" alt="image" />
            <div class="pb_right">
                <p>Praesent mattis varius quam. Vestibulum ullamcorper ipsum nec augue. Vestibulum auctor odio eget ante. Nunc commodo, magna pharetra semper vehicula, dui ligula feugiat elit, et euismod nunc orci ut libero. Etiam sodales massa vel metus. Mauris et elit quis mauris aliquet luctus.</p>
                <div class="comment"><a href="#">64 comments</a></div>
		  </div>
            <div class="cleaner"></div>
    </div>
        
        @*<div class="post_box">
            <div class="header">
                <h2><a href="#">Quisque dictum pharetra neque</a></h2>
              <div class="tag"><strong>Tags:</strong> <a href="#">Photography</a>, <a href="#">Free Photos</a>, <a href="#">Royalty</a></div>
                <span class="posted_date">
                    25 Feb
                    <strong>2010</strong>
                </span>
            </div>
            <img src="/Images/templatemo_image_02.jpg" alt="image" />
            <div class="pb_right">
                <p>Aliquam pretium porta odio. Fusce quis diam sit amet tortor luctus pellentesque. Donec accumsan urna non elit tristique mattis. Vivamus fermentum orci viverra nisl. In nec magna id ipsum aliquam dictum. Donec euismod enim et risus. Nunc dictum, massa non dignissim commodo, metus quam vehicula lorem, et dignissim enim augue vitae pede. D</p>
                <div class="comment"><a href="#">128 comments</a></div>
		  </div>
            <div class="cleaner"></div>
    </div>*@
    
     

    </div>
    
    <div id="templatemo_sidebar">
    	<div class="sidebar_box">
        	<h3>Tag Cloud</h3>
            <div class="sb_content">
            	<a href="#" style="font-size:12px">Aenean</a> <a href="#" style="font-size:11px">Cursus</a> <a href="#" style="font-size:16px">Maecenas</a> <a href="#" style="font-size:11px">Aliquam Ligula</a> <a href="#" style="font-size:20px">Egestas</a> <a href="#" style="font-size:16px">Suscipit</a> <a href="#" style="font-size:12px">Sapien</a> <a href="#" style="font-size:28px">Dignissim</a> <a href="#" style="font-size:14px">Vestibulum</a> <a href="#" style="font-size:12px">Lorem</a> <a href="#" style="font-size:14px">Urnain</a> <a href="#" style="font-size:20px">Neque</a> <a href="#" style="font-size:12px">Aenean</a>
            </div>
        </div>
        
        <div class="sidebar_box">
        	<h3>Categories</h3>
            <div class="sb_content">
            	<ul class="sidebar_menu">
                    <li><a href="#">CSS Techniques</a></li>
                    <li><a href="#">Web Design Tips</a></li>
                    <li><a href="#">Best Wallpapers</a></li>
                    <li><a href="#">Free Fonts</a></li>
                    <li><a href="#">Photoshop Tutorials</a></li>
                    <li><a href="#">3D Animation Tutorials</a></li>
                </ul>
            </div>
        </div>
        
        <div class="sidebar_box">
        	<h3>Archives</h3>
            <div class="sb_content">
            	<ul class="sidebar_menu">
                    <li><a href="#">CSS Templates</a></li>
                    <li><a href="#">Web Design Ideas</a></li>
                    <li><a href="#">Free Wallpapers</a></li>
                    <li><a href="#">Free Pixel Fonts</a></li>
                    <li><a href="#">Illustrator Tutorials</a></li>
                    <li><a href="#">3D Character Tutorials</a></li>
                </ul>
            </div>
        </div>
        
        <div class="sidebar_box">
        	<h3>Our Friends</h3>
            <div class="sb_content">
            	<ul class="sidebar_menu">
                    <li><a href="http://www.flashmo.com" target="_parent">Free Flash Files</a></li>
                    <li><a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a></li>
                    <li><a href="http://www.webdesignmo.com/blog" target="_blank">Web Design Tips</a></li>
                    <li><a href="http://www.flashmo.com/page/1" target="_blank">Flash XML Galleries</a></li>
                    <li><a href="http://www.koflash.com" target="_blank">Inspiring Flash Websites</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="cleaner"></div>
</div> <!-- end of main -->

<div id="templatmeo_bottom">
	<div class="bottom_box">
    	<h5><span>Sed Necest</span> Suspendisse a nibh</h5>
        <p>Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum.</p>
		<a href="#" class="continue">more info</a>
    </div>
    
    <div class="bottom_box">
    	<h5><span>Lorem ipsum</span> dolor sit amet</h5>
        <p>Vestibulum eleifend, enim ut molestie pulvinar, purus est fringilla augue, ut tristique nunc neque a libero.</p>
		<a href="#" class="continue">more info</a>
    </div>
    
    <div class="bottom_box">
    	<h5><span>Recent</span> Blog Post</h5>
       	<ul class="bottom_box_list">
        	<li><a href="#">Duis vitae velit sed lesuada dignissim.</a></li>
            <li><a href="#">Donec mollis aliquet ligula.</a></li>
            <li><a href="#">Maecenas adipiscing elementum ipsum.</a></li>
        </ul>
    </div>

</div> <!-- end of bottom -->

<div id="templatemo_footer">

	<ul class="footer_menu">
        <li class="first"><a href="#">Home</a></li>
        <li><a href="#">Web 2.0</a></li>
        <li><a href="#">Wordpress</a></li>
        <li><a href="#">Graphics</a></li>
        <li><a href="#">Inspirations</a></li>
        <li><a href="#">Freebies</a></li>
	</ul>
    
	Copyright © 2048 <a href="#">Your Company Name</a> | 
<a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a></div>
</body>
</html>