@model StudentManagement1.Teacher

@{
    ViewBag.Title = "ChangePassword";
     Layout = "~/Views/Shared/_TeacherLayout.phone.cshtml";
}

 <div class="header">    

            <h1 class="page-title">Change Password</h1>
</div>

<br />          
   

        <div class="container-fluid">
            <div class="row-fluid">
                              
<div class="well">

<span style ="color:red">@Html.ValidationSummary(true,"Changing password failed. Check your details")</span>
        
@using (Html.BeginForm())
{
        <fieldset>
 
      <label>Old Password</label>   
       <input type="password" class="input-xlarge" id="Password" name="Password">
       <span style ="color:red"> @Html.ValidationMessageFor(d => d.Password)</span>

     <br />

     <label>New Password</label>
      <div>    
        <input type="password" class="input-xlarge" id="New_Password" name="New_Password">
       <span style ="color:red"> @Html.ValidationMessage("New_Password")</span>
      </div>

     <br />

      <label>Repeat Password</label>
      <div>    
          <input type="password" class="input-xlarge" id="Compare_Password" name="Compare_Password">
           <span style ="color:red"> @Html.ValidationMessage("Compare_Password")</span>
     </div>
                <br />
        <div>
            <button class="btn btn-primary">Update</button>
        </div>
                </fieldset>

}
    </div>
            

                    
                    <footer>
                        <hr>
                        
  <p @*style="margin-left: 403px;"*@>&copy; 2014 <a href="http://www.ntu.edu.pk" target="_blank">National Textile University</a></p>
                    </footer>
            </div>
        </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}