@model StudentManagement1.Attendance

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Attendance</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attendance_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attendance_Id)
            @Html.ValidationMessageFor(model => model.Attendance_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Session_Id, "Session")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Session_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Session_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Student_Id, "Student")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Student_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Student_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total_Present)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Total_Present)
            @Html.ValidationMessageFor(model => model.Total_Present)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total_Absent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Total_Absent)
            @Html.ValidationMessageFor(model => model.Total_Absent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Leaves)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Leaves)
            @Html.ValidationMessageFor(model => model.Leaves)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
