@model StudentManagement1.Attendance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Attendance</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Attendance_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Attendance_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Session.Course_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Session.Course_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Student.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total_Present)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total_Present)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total_Absent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total_Absent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Leaves)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Leaves)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
