@model IEnumerable<StudentManagement1.TeacherCourseStudent>
@{
    ViewBag.Title = "MarkAttendance";
    Layout = "~/Views/Shared/_TeacherLayout.phone.cshtml";
}

<div class="header">    

            <h1 class="page-title">Mark Attendance</h1>
</div>

<br />          
   

        <div class="container-fluid">
            <div class="row-fluid">
                              
<div class="well">

@using (Html.BeginForm("MarkAttendance", "Attendance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
   <span style ="color:red"> @Html.ValidationSummary(true,""+ @ViewData["error"]+"")</span>
    <br />
        <div class="editor-label">
          <span>  @Html.Label("Date")</span>
        </div>
         <div class="editor-field">
            @Html.TextBox("Date",System.DateTime.Today.ToShortDateString())
         </div>
    <br />
        
        List<SelectListItem> listItems = new List<SelectListItem>();
        
        foreach (StudentManagement1.SessionTime time in ViewBag.SessionTime)
    {
        
            listItems.Add(new SelectListItem
        {
            Text = time.Session_Time,
            Value = time.SessionTime_Id.ToString(),

        });
                    
    }
    
               <div class="editor-label">
                 <span> @Html.Label("Time")</span>
               </div>
    
               <div class="dropcontainer">
                  @Html.DropDownList("Time",listItems, "Select Time")
               </div>


<br /> <br />


  <table class="table">
    <tr>
        <th>
          Student Id
        </th>
        <th>
          Name
        </th>
        <th>
          Sur Name
        </th>
        <th>
         Semester
        </th>
        <th>
         IsPresent
        </th>
       
    </tr>
    @Html.Hidden("TeacherId", ViewData["TeacherId"])
    @Html.Hidden("CourseId",  ViewData["CourseId"])
 <tbody>
        @Html.EditorForModel()
</tbody>

</table>
        <br /> <br />
    @*<input class="pull-right"  type="submit" value="Save attendance" />*@
    <button type="submit" class="btn btn-primary" >Save Attendance</button>
}

    </div>
   
            

                    
                    <footer>
                        <hr>
                        
  <p @*style="margin-left: 403px;"*@>&copy; 2014 <a href="http://www.ntu.edu.pk" target="_blank">National Textile University</a></p>
                    </footer>
            </div>
        </div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Date").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}