@model IEnumerable<StudentManagement1.Models.PercentageModel>

@{
    ViewBag.Title = "ViewAttendance";
      Layout = "~/Views/Shared/_TeacherLayout.phone.cshtml";
}

 <div class="header">    

            <h1 class="page-title">View Attendance</h1>
</div>

<br />          
   

        <div class="container-fluid">
            <div class="row-fluid">
                              
<div class="well">
<table class="table">
      <thead>
      <tr>
        <th>
           <span> @Html.DisplayNameFor(model => model.Student_Id)</span>
        </th>
        <th>
          <span>  @Html.DisplayNameFor(model => model.Name)</span>
        </th>
        <th>
          <span>  @Html.DisplayNameFor(model => model.Sur_Name)</span>
        </th>
        <th>
          <span>  @Html.DisplayNameFor(model => model.Semester_Name)</span>
        </th>
        <th>
          <span>  @Html.DisplayNameFor(model => model.Percentage)</span>
        </th>
         
    </tr>
   </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sur_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentage)
        </td>
        
    </tr>
}
        </tbody>

</table>

    
</div>
            

                    
                    <footer>
                        <hr>
                        
  <p @*style="margin-left: 403px;"*@>&copy; 2014 <a href="http://www.ntu.edu.pk" target="_blank">National Textile University</a></p>
                    </footer>
            </div>
        </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
