@model IEnumerable<StudentManagement1.Semester>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2> Search Semester</h2>

    @using (@Html.BeginForm("Index", "Semester", FormMethod.Get))
    {
        <table >
    <tr>
        <th>
           <span>Search By:</span>
        </th>
        <th> @Html.RadioButton("searchBy", "Name", true) Semester Name </th>
        <th> @Html.RadioButton("searchBy", "Degree_Name") Degree Name </th>

    </tr>

        </table> <br />

         @Html.TextBox("search") <input type="submit" value="search" />
       
    }


<table cellspacing="15">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Semester_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree.Degree_Name)
        </th>
        <th>Action</th>
    </tr>
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="4">
            No records match search criteria
        </td>
    </tr>
}
else
{

foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Semester_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree.Degree_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Semester_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Semester_Id }) |
            @Html.ActionLink("Courses", "SemesterCourses", new { id=item.Semester_Id, degreeid = item.Degree_Id }, null)
        </td>
    </tr>
}
}
</table>
