@model IEnumerable<StudentManagement1.Course>

@{
    ViewBag.Title = "SemesterCourses";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Semester Courses</h2>

<table cellspacing = "20">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credit_Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credit_Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree_Id)
        </td>
    </tr>
}

</table>
